body{
    background-color: skyblue;
  }

.title{
    margin-top: 166px;
    margin-left: 33px;
    color: aliceblue;
    font-family: "crayonize", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 211px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


@keyframes sunspin {
    .1% {
      transform:rotate(1turn);
    }
   
  }


  
  #Layer_2 {
    animation: sunspin 7s  infinite;
    height:255px;
    position: absolute;
    top:1px;
    z-index: -1;
  }
  #Layer_3 {
    animation: cloudmove 33s  infinite;
    height:255px;
    position: relative;
    right:1px;
    left:822px;
 
  }

@keyframes cloudmove {
    from {right :1px;}
    to { left :1331px;}

}

#Layer_4 {
    height:255px;
    position: relative;
    right:1px;
    left:22px;
 
  }

  .container2 {
    z-index: 99;
  }
  .container3 {
    position: relative;
    top: 30%;
    height: 30%;
    display: flex;
    z-index: 3;
    justify-content: space-between;  /* Adjust as needed for spacing */
    align-items: center;
    flex-wrap: wrap;  /* Allow items to wrap to the next line if needed */
  }
  .container3 img {
    width: 450px; /* Set the desired width */
    height: auto; /* Maintain the aspect ratio */
    margin: 2px; /* Add spacing between the images */

}

.hidden-items {
    height: 155px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.hidden-items img {
    width: 99px;
    height:auto;
    margin: 1px;
}

.container4{
    color: aliceblue;
    font-family: "ohno-softie-variable", sans-serif;
    font-style: Light;
    font-variation-settings: "wght" 300;
    font-size: 19px;
    display: flex;
    justify-content:left;
    align-items: left;
    justify-content: space-evenly;
    flex-wrap: wrap;
    z-index: 99;
    
}

h3 {
    font-size: 35px;
}



@media (max-width: 768px) {
    .title {
        font-size: 211%;
    }
    #Layer_2 {
        width: 45%;
    }
    .hidden-items {
        margin-top: 41px;
        margin-bottom: 61px;        
    }

    .container4 {
        max-width: 83dvw;
        align-items: center;

    }
}

