body{
    background-color: skyblue;
  }

.title{
    margin-top: 166px;
    margin-left: 33px;
    color: aliceblue;
    font-family: "crayonize", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 211px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


@keyframes sunspin {
    .1% {
      transform:rotate(1turn);
    }
   
  }


  
  #Layer_2 {
    animation: sunspin 7s  infinite;
    height:255px;
    position: absolute;
    top:1px;
    z-index: -1;
  }
  #Layer_3 {
    animation: cloudmove 33s  infinite;
    height:255px;
    position: relative;
    right:1px;
    left:822px;
 
  }

@keyframes cloudmove {
    from {right :1px;}
    to { left :1331px;}

}

#Layer_4 {
    height:255px;
    position: relative;
    right:1px;
    left:22px;
 
  }

  .container2 {
    z-index: 99;
  }
  .container3 {
    position: relative;
    top: 30%;
    height: 30%;
    display: flex;
    z-index: 3;
    justify-content: space-between;  
    align-items: center;
    flex-wrap: wrap;  
  }
  .container3 img {
    width: 450px; 
    height: auto; 
    margin: 2px;

}

.hidden-items {
    height: 155px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.hidden-items img {
    width: 99px;
    height:auto;
    margin: 1px;
}

.container4{
    color: aliceblue;
    font-family: "ohno-softie-variable", sans-serif;
    font-style: Light;
    font-variation-settings: "wght" 300;
    font-size: 19px;
    display: flex;
    justify-content:left;
    align-items: left;
    justify-content: space-evenly;
    flex-wrap: wrap;
    z-index: 99;
    
}

h3 {
    font-size: 35px;
}



@media (max-width: 768px) {
    .title {
        font-size: 211%;
    }
    #Layer_2 {
        width: 45%;
    }
    .hidden-items {
        margin-top: 41px;
        margin-bottom: 61px;        
    }

    .container4 {
        max-width: 83dvw;
        align-items: center;

    }
}


.image-container {
  display: inline-block;
  margin: 2px;
  position: relative;
}



.txt {
  position: absolute;
  top: 0;
  left: 0;
  width: 450px; 
  height: 450px; 
  display: none;
  box-sizing: border-box;
  transition: 3s;
}

.image-container:hover .txt {
  display: block;
}
