@font-face {
    font-family: 'Rockwell Nova';
    src: url('RockwellNova-Light.woff2') format('woff2'),
        url('RockwellNova-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

