.container {
    display: flex;
    flex-direction: column;
    height: 100vh; 
    position: relative;

}
.heading {
font-family: "sketchnote-text", sans-serif;
font-weight: 400;
font-style: italic;    
display: flex;
align-items: center; 
gap: 32px;
height: 50%;
justify-content: center;
flex-direction: column;

}

.line1{
    position: absolute;
    top:1px;
    display: flex;
    font-size: 119.9px;

}
.line2 {
    position: absolute;
    top: 121px;
    font-size: 119.9px;
    display: flex;
    


}
.you {
    margin: 32px;
    transform: rotate(-12deg);
}

.were{
    margin: 22px;
    transform: rotate(2deg);
    
}

.a {
    margin-top: 133px;
    font-size: 89.9px;
    margin-right: 32px;
    transform: rotate(-12deg);

}

.once {  
    margin-left: 32px;
}

.entries{
    justify-content: center;
    justify-items: center;
    position: absolute;
    bottom:-932px;
    display: flex;
    align-items: center;

}

.item-1, .item-2, .item-3, .item-4, .item-5, .item-6, .item-7, .item-8, .item-9,.item-10{
    width: 88px;

}



