@font-face {
    font-family: 'Silver Dollar';
    src: url('SilverDollar.woff2') format('woff2'),
        url('SilverDollar.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

