.button-container{
    position: fixed;
    top: 7px;
    right: 4px;
    left: 4px;
    z-index: 999;
  }
  
  .main {
    background-color: rgb(255, 230, 142);
    border: 1.5px solid rgb(104, 62, 0);
    border-radius: 25px;
    color: #482b00;
    cursor: pointer;
    display: inline-block;
    font-family: "indivisible", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
    padding: 0 10px;
    line-height: 25px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 4px;
  }
.container {
    background-color: bisque;
    width: 100%;
    height: 2000px;
}
.container2 {
    display: flex;
    flex-direction: row;
}
.header{
    width: 100%;
    min-height: 300px;
    font-size: 115px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
}
.line1{
    text-align: left;
    margin-top: 11px;
    margin-left: 2px;
    margin-bottom: 1px;
}
.line2{
    text-align: right;
    flex-grow: 1;
    right: 1%;
    margin:1px;
}

.section-1 {
    background-color: bisque;
    width:100%;
    min-height: 515px;
    display: flex;
}
.text-container1 {
    margin: 11px;
    width: 37vw;
    justify-content: flex-start;
    flex-grow: 1;
}

.s1-head {
    margin: 21px;
    font-size: 87px;
    margin-right: 185px;
}

.s1-body {
    justify-content: left;
    max-width: 411px;
    margin: 21px;
}
.reading img {
    width: 63vw;
    min-width: 455px;
}


.section-2 {
    background-color: bisque;
    width:100%;
    min-height: 515px;
    display: flex;
    flex-direction: column;
}
.text-container2 {
    margin: 11px;
    width: 37vw;
    justify-content: flex-start;
    flex-grow: 1;
}

.s2-head {
    margin: 21px;
    font-size: 27px;
    margin-right: 185px;
}

.s2-body {
    justify-content: left;
    max-width: 411px;
    margin: 21px;
}

.rainbowfish img {
    width: 372px;
}


.section-3 {
    background-color: bisque;
    width:100%;
    min-height: 515px;
    display: flex;
    flex-direction: column;
}
.text-container3 {
    margin: 11px;
    width: 37vw;
    justify-content: flex-start;
    flex-grow: 1;
}

.s3-head {
    margin: 21px;
    font-size: 27px;
    margin-right: 185px;
}

.s3-body {
    justify-content: left;
    max-width: 411px;
    margin: 21px;
}

.thegivingtree img {
    width: 372px;
    height: 372px;
}

.section-4 {
    background-color: bisque;
    width:100%;
    min-height: 515px;
    display: flex;
    flex-direction: column;
}
.text-container4 {
    margin: 11px;
    width: 37vw;
    justify-content: flex-start;
    flex-grow: 1;
}

.s4-head {
    margin: 21px;
    font-size: 27px;
    margin-right: 185px;
}

.s4-body {
    justify-content: left;
    max-width: 411px;
    margin: 21px;
}

.ohtheplaces img {
    width: 372px;
    height: 372px;
    
}


@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
        font-size: 93%;
        
    }

    .section-1 {
        width:99.99%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

      }
    
    .text-container1 {
         width:99.99%;
        display: flex;
        justify-items: left;

    }
    .container2 {
        display: flex;
        flex-direction: column;
    }

    .s1-head {
        font-size: 33px;
        margin: 2px;
    }

    .section-2 {
        width:99.99%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-width: 455px;


      }

      .text-container2 {
        width:99.99%;
       display: flex;
       flex-direction: column;

   }

    
   .s2-head {
    font-size: 23px;
    margin: 2px;
}

.s2-body {
    font-size: 13px;
    margin: 2px;
}
   
.section-3 {
    width:99.99%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 455px;


  }

  .text-container3 {
    width:99.99%;
   display: flex;
   flex-direction: column;

}


.s3-head {
font-size: 23px;
margin: 2px;
}

.s3-body {
font-size: 13px;
margin: 2px;
}

.section-4 {
    width:99.99%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 455px;


  }

  .text-container4 {
    width:99.99%;
   display: flex;
   flex-direction: column;

}


.s4-head {
font-size: 23px;
margin: 2px;
}

.s4-body {
font-size: 13px;
margin: 2px;
}
}