body {
    background-color: red;
    margin: 0; /* Reset default margin */
}

.bartop {
    width: 100vw;
    height: auto;
    position: fixed;
    top: -15px;
    left: 0px;
    background-image: url(imgs/Asset\ 1.png);
}

.barbottom {
    width: 100vw;
    height: auto;
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-image: url(imgs/Asset\ 2.png);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Make the container take the full height of the viewport */
}

#box {
    width: 527px;
    height: auto;
    transition: transform 0.3s; /* Add a smooth transition effect */
}

#box:hover {
    transform: scale(1.04); /* Increase the scale on hover */
}


.gallery1, .gallery2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
     
}

.subheading {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    color: #ffffff; 
    font-size: 25px;
    padding: 2%;
}

.toy1, .toy2, .toy3, .toy4, .toy5, .toy6, .toy7, .toy8,.toy9, .toy10 {
    width: 20%;
    height: 10%;
    transition: transform 0.3s ease-in-out;
    padding-bottom: 9px;

}

.toy6, .toy7, .toy8,.toy9, .toy10 {
    padding-bottom: 99px;
}

.toy1:hover, .toy2:hover, .toy3:hover, .toy4:hover, .toy5:hover, .toy6:hover, .toy7:hover, .toy8:hover,
.toy9:hover, .toy10:hover {
    transform: scale(1.3);
}